{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <h1>Ici le formulaire de {% if user.id == null %}création{% else %}modification{% endif %} de User</h1>

    <style>
    </style>
    {# afficher le formulaire en une seule fonction #}
    {# {{ form(formUser) }} #}

    {# afficher les champs du formulaire un par un #}
    {#
    {{ form_start(formUser) }}
        <div id="input_name">
            {{ form_row(formUser.name, {'label': 'Nom'}) }}
        </div>

        {{ form_row(formUser.birthday) }}
        {{ form_row(formUser.isEnabled) }}
        {{ form_row(formUser.email) }}
        {{ form_row(formUser.points) }}
    {{ form_end(formUser) }}
    #}
    {{ form_errors(formUser.name) }}

    {# découpe par champs en dissociant label, widget, error #}
    {{ form_start(formUser) }}

        {{ form_widget(formUser.name, {'attr': {'placeholder': 'Veuillez saisir votre nom'}}) }}
        {{ form_label(formUser.name, 'Nom') }}


        {{ form_row(formUser.birthday, {'attr': {'class': 'date'}}) }}

        {{ form_label(formUser.isEnabled) }}
        {{ form_widget(formUser.isEnabled) }}

        {{ form_row(formUser.email) }}
        {{ form_row(formUser.points) }}

        {{ form_row(formUser.team) }}

        <p>
            Adresses :
        </p>
        <ul id="addresses-fields-list"
            data-prototype="{{ form_widget(formUser.addresses.vars.prototype)|e }}"
            data-widget-tags="{{ '<li></li>'|e }}"
            data-widget-counter="{{ formUser.addresses|length }}">
            {% for address in formUser.addresses %}
                <li>
                    {{ form_errors(address) }}
                    {{ form_widget(address) }}
                </li>
            {% endfor %}
        </ul>

        <button type="button"
                class="add-another-collection-widget"
                data-list-selector="#addresses-fields-list">Ajouter une nouvelle adresse</button>

        {#
            tous les champs n'ayant pas été affiché auparavant seront automatiquement
            affichés à la fin du formulaire
            ! : si un seul élément a été affiché (label, ou widget ou error),
            le champ est considéré comme affiché, donc les deux autres éléments n'apparaitront pas
        #}
    {{ form_end(formUser) }}
{% endblock %}

{% block javascripts %}
    <script>
        jQuery(document).ready(function () {
            jQuery('.add-another-collection-widget').click(function (e) {
                var list = jQuery(jQuery(this).attr('data-list-selector'));
                // Try to find the counter of the list or use the length of the list
                var counter = list.data('widget-counter') || list.children().length;

                // grab the prototype template
                var newWidget = list.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, counter);
                // Increase the counter
                counter++;
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data('widget-counter', counter);

                // create a new list element and add it to the list
                var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                newElem.appendTo(list);
            });
        });
    </script>
{% endblock %}
